<li class="image-item image-item-selected">
  <img src="./image1.jpg" alt="" id="image1"/>
</li>
<li class="image-item"><img src="./image2.jpg" alt="" id="image2"/></li>
<li class="image-item"><img src="./image3.jpg" alt="" id="image3"/></li>
<li class="image-item"><img src="./image4.jpg" alt="" id="image4"/></li>
<li class="image-item"><img src="./image5.jpg" alt="" id="image5"/></li>

<fieldset class="image-selector">
  <input type="radio" name="image-selector" id="image1-selector" value="image1" checked/>
  <input type="radio" name="image-selector" id="image2-selector" value="image2" />
  <input type="radio" name="image-selector" id="image3-selector" value="image3" />
  <input type="radio" name="image-selector" id="image4-selector" value="image4" />
  <input type="radio" name="image-selector" id="image5-selector" value="image5" />
</fieldset>

<div class="previous-item navbar"></div>
<div class="next-item navbar"></div>