<li class="image-item image-item-selected">
  <img src="./image1.jpg" alt="" />
</li>
<li class="image-item"><img src="./image2.jpg" alt="" /></li>
<li class="image-item"><img src="./image3.jpg" alt="" /></li>
<li class="image-item"><img src="./image4.jpg" alt="" /></li>
<li class="image-item"><img src="./image5.jpg" alt="" /></li>

<fieldset class="image-selector">
  <input type="radio" name="image-selector" id="image1" value="image1" checked/>
  <input type="radio" name="image-selector" id="image2" value="image1" />
  <input type="radio" name="image-selector" id="image3" value="image1" />
  <input type="radio" name="image-selector" id="image4" value="image1" />
  <input type="radio" name="image-selector" id="image5" value="image1" />
</fieldset>

<div class="previous-item navbar"></div>
<div class="next-item navbar"></div>